/* Full background */
.terminal-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #090f21;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 1rem;
}

/* Terminal box */
.terminal {
  padding: 14px 24px;
  width: 100%;
  max-width: 820px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace !important;
  background-color: #090f20;
  border-radius: 14px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #e5e7eb;
  /* font-family: "JetBrains Mono", Menlo, Monaco, monospace; */
}

/* Header */
.terminal-header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background: #ff5f56;
}
.yellow {
  background: #ffbd2e;
}
.green {
  background: #27c93f;
}

.title {
  font-size: 13px;
  color: #94a3b8;
}

/* Body */
.terminal-body {
  padding: 6px 2px 10px;
  font-size: 15px;
  line-height: 1.7;
}

.line {
  margin-bottom: 10px;
}

/* Prompt */
.prompt {
  color: #22c55e;
  margin-right: 8px;
}

/* Syntax colors */
.blue {
  color: #60a5fa;
}

.purple {
  color: #c084fc;
}

.pink {
  color: #f472b6;
}

/* Cursor */
.cursor {
  margin-left: 4px;
  color: #22c55e;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 640px) {
  .terminal {
    padding: 12px 16px;
  }

  .terminal-body {
    font-size: 14px;
    line-height: 1.5;
  }

  .dots {
    gap: 6px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
