
.container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.navbar-top {
    width: 100%;
    z-index: 50;
    background-color: rgba(2, 6, 23, 0.7) !important;
    backdrop-filter: blur(24px);
    border-bottom: 1px solid rgba(51, 65, 85, 0.5);
}

.nav-items {
    /* text-transform: capitalize; */
}

.navName{
    width: max-content;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold !important;
    letter-spacing: -0.010em !important;
    font-size: 1.5rem !important;
    background: linear-gradient(90deg, #60a5fa 10%, #c084fc 20%,  #60a5fa 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
}

.menu-button {
    margin-right: 16px; /* Adjust as needed */
    display: none; /* Default to none */
}

.logo {
    flex-grow: 1;
    display: block; /* Default to block */
}

.desktop-nav {
    display: block; /* Default to block */
}

.nav-button {
    color: #fff;
}

.drawer {
    display: block; /* Default to block */
}

@media (min-width: 600px) {
    .menu-button {
        display: none; /* Hide on small screens */
    }

    .logo {
        display: block; /* Show on small screens */
    }

    .desktop-nav {
        display: block; /* Show on small screens */
    }

    .drawer {
        display: none; /* Hide on small screens */
    }
}